<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'main:index'%}" class="nav-link active rounded-pill" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="{% url 'main:tasks'%}" class="nav-link active text-white bg-secondary rounded-pill">Tasks</a></li>
      <li class="nav-item"><a href="{% url 'main:add_task'%}" class="nav-link active text-white rounded-pill bg-secondary">Add Task</a></li>
    </ul>
</header>